<div>
  <ul>
    <li><a href="/carsforsale">Cars for Sale</a></li>
    <li><a href="/sellyourcar">Sell Your Car</a></li>
    <li><a href="/newcars">New Cars</a></li>
    <li><a href="/homepage">HOMEPAGE</a></li>
  </ul>
</div>
