<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>addmovie</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <header><%- include("partials/header") %></header>
  <body>
    <main>
      <div class="form-container">
        <form class="form" action="/addmovie" method="post">
          <input type="text" name="title" placeholder="Title" />
          <input type="number" name="year" placeholder="Year" />
          <input type="number" step=".01" name="rating" placeholder="Rating" />
          <input type="text" name="image" placeholder="Image" />
          <input type="text" name="story" placeholder="Story" />
          <input type="text" name="triller" placeholder="Genre" />
          <br />
          <div class="btn-container">
            <button class="btn" type="submit">ADD NEW MOVIE</button>
          </div>
        </form>
      </div>
    </main>
  </body>
</html>
