<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Test</title>
  </head>
  <body>
    <h1>Proba na EJS engine</h1>
    <h2><%=data1%></h2>
    <h3><%= data2 %></h3>
    <a href="http://localhost:10000/">Go to homepage</a>
  </body>
</html>
