<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HOMEPAGE</title>
  </head>
  <body>
    <a href="http://localhost:10000/ruta/akteri">AKTERI</a>
    <a href="http://localhost:10000/ruta/filmovi">FILMOVI</a>
    <h1>HOMEPAGE NA HOLYWOOD</h1>
  </body>
</html>
