<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ADD-NEW-CAR</title>
  </head>
  <header><%- include('partials/header') %></header>
  <body>
    <main><h1>Please add some new car</h1></main>
  </body>
</html>
