<div class="navbar">
  <div class="logo">
    <i class="fas fa-coffee fs-2x"></i>
  </div>
  <div class="menu">
    <ul>
      <li><a href="/homepage">HOMEPAGE</a></li>
      <li><a href="/searchmovie">searchmovie</a></li>
      <li><a href="/newadded">New Added</a></li>
      <li><a href="/aboutus">About Us</a></li>
    </ul>
  </div>
</div>
