<div class="header-container">
  <div class="logo-container">
    <div>
      <img
        src="https://www.logo.wine/a/logo/IMDb/IMDb-Logo.wine.svg"
        height="150px"
        width="auto"
        alt=""
      />
    </div>
    <div></div>
  </div>

  <div class="link-container">
    <a href="/homepage">HOME</a>
    <div class="dropdown">
      <button>Genre</button>
      <div class="content">
        <a href="/comedy">Comedy</a>
        <a href="/action">Action</a>
        <a href="/homepage/triller/">Triller</a>
      </div>
    </div>
    <a href="/addmovie">addMovie</a>
    <a href="/latest">latestMovies</a>
  </div>
</div>
