<div class="header-container">
  <div class="logo-container">
    <div>
      <img
        src="https://www.logo.wine/a/logo/IMDb/IMDb-Logo.wine.svg"
        height="150px"
        width="auto"
        alt=""
      />
    </div>
    <div></div>
  </div>

  <div class="link-container">
    <a href="/homepage">HOME</a>
    <a href="/addmovie">addMovie</a>
    <a href="/newMovies">newMovies</a>
  </div>
</div>
