<% movies.forEach((movie)=>{%>
<div class="movies-container">
  <img
    class="img-tag overlay"
    src="<%=movie.image%>"
    height="100%"
    width="100%"
  />
  <div class="top-right"><p><%=movie.rating %> ⭐</p></div>
  <div class="readmore-link">
    <a href="/homepage/<%=movie.id %>"><%=movie.title%></a>
  </div>
</div>
<%}) %>
